@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: grey;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* ----- PAGE LAYOUT ----- */

.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-container {
  margin: 2svh 2svw 2svh 2svw;
  height: 90svh;
  align-items: center;
  width: 70svw;
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* ----- NAVBAR ----- */

.navbar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-container h2 {
  margin-right: 55%;
}

.navbar-container a:link,
a:visited {
  color: black;
  text-decoration: none;
}
